.jumbotron {
    color: rgb(8, 100, 175);
    background-image: url(./paper.jpg);
    background-size: 100% auto;
    background-repeat: none;
    padding-top: 110px;

}

@media only screen and (max-width: 421px) {
.jumbotron{
    padding-top: 180px;
}
}